body {
    font-family: Inter;
    font-style: normal;
}
/* Header */
 .header {
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 18px;
    font-weight: 400;
    line-height: 135%;  }
 
.list1 {
    color: #000;
    text-align: center;
    margin: 0 auto;
   
} 

 .link {
    text-decoration: none;
    color: #000; 
    }


 .li1 {
    display: inline-block;
   margin: 0 auto;
     
     }
 .li2 {
    display: inline-block;
    margin-left: 72px;
         }
.li3 {
    display: inline-block;
    margin-left: 72px;
             }
.li4 {
    display: inline-block;
    margin-left: 72px;
                 }
.li5 {
    display: inline-block;
    margin-left: 72px;
    margin-right: 0 auto;
    
    
         }

 /* Image */
 .img {
    /* margin: 0 auto; 
    weight: 100% ;
    height: 100% ;  */
    /* background-size: cover; */
     }  

/* MainText */
.maintext {
  margin: 88px 272px;  
  /* align-items: center;
  text-align: justify; */
}
.name {
color: #000;
text-align: center;
font-size: 48px;
font-weight: 600;
line-height: 135%; /* 64.8px */
}
.p{
    color: #161616;
    font-size: 21px;
    font-weight: 500;
    line-height: 150%; /* 31.5px */
    margin: 40px 0px 24px 0px;
   
}
.span {
color: #04959E;
font-size: 21px;
font-weight: 600;
line-height: 150%;
}
.list {
color: #161616;
font-size: 18px;
font-weight: 400;
line-height: 150%; /* 27px */
}

.button {
background: #04959E;    
margin: 0 auto;
padding: 10px 24px;
color: #FFF;
font-size: 18px;
display: block;
line-height: 135%; /* 24.3px */
}

.line {
height: 1px;
align-self: stretch;
margin: 16px 0;
}

.footer {
color: #161616;
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 150%; /* 27px */

}      
    